node_modules
dist
.env
*.log
public/uploads
*-firebase-adminsdk-*.json
scratch/

/src/generated/prisma

# AI Agent configs
.agents/

# Documentos e Acervo (Arquivos pesados como PDFs, Apresentações)
docs/

# Python Virtual Environment
.venv/

# Códigos gerados
codes/
