rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // TESTE DE EMERGÊNCIA ABSOLUTO: ABRIR TUDO PARA TUDO
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
